div{
    /*this makes it responsive*/
    width: 100%;
    max-width: 200px;
    height: 50vh;
    border: 30px solid mediumaquamarine;
    font-size: 10;
    font-weight: 100;
    background-color: bisque;
    font-family: roboto, sans-serif;

}